@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    /* font-family: Lato, sans-serif; */
    font-family: Raleway, sans-serif;
    font-weight: 300;
    color: #1E375A;

}

/* headings and logo */

h1,
h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}


#logo {
    float: left;
    font-size: 200%;
    margin-left: 30px;
}

/* menu */
#menu {
    font: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px rgb(0, 4, 255) solid;
}

.active {
    border-bottom: 1px rgb(0, 4, 255) solid;
}

.cover-text,
.cover-text h2 {

    color: white;

}

/* hero section */
#hero-image {

    height: 700px;
    width: 100%;
    background: url(../images/hero2.jpg) no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;

    /* zoom effect when page is loading */
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#hero {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;


}

/* zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.techma {
    color: red;
    font-size: xxx-large;
}

.cover-text {
    font-size: 120%;
    font-family: Raleway, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;
    text-align: center;

    padding-top: 50px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.438);
    bottom: 165px;
    left: 650px;
    font-size: xx-large;
    border-radius: 40%;

    position: absolute;
}


/* ethos */
#ethos {
    height: 600px;
    /* background-color: rgba(117, 117, 117, 0.13); */


}

#about-left {
    padding-left: 30px;
    width: 33%;
    float: left;
    /* background-color: rgb(88, 88, 255); */
}

#about-right {
    padding-right: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 2px solid black;
    width: 100%;
    margin: 5px;
}

.front-end {
    text-align: center;
}

.back-end {
    text-align: center;
}

.full-stack {
    text-align: center;
}

.cloud-dev {
    text-align: center;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;


}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;

}

#welcome {
    text-align: center;
    margin: 25px 0;
    font-size: 250%;
}

#circle-cont {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-style: solid;
    border-color: silver;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 70px;

}

#circle-bg {
    background: url(../images/img2.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;

}

/* our work */
#our-work {
    background-image: url(../images/work-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}

#our-work div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    height: 200px;
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}